# Ignore all
/*

# Mark Folders to Keep
!.gitignore
!/translations
!/docs
!README.md
!package.json
!package-lock.json
!crowdin.yml
!LICENSE.md
!CNAME
!.nojekyll
!/.github
!tsconfig.json

# Mark Folders to Ignore
/docs/.vitepress/dist
/docs/.vitepress/cache